AFFIDAVIT OF MAILING

I, {{ user_name }}, residing at {{ user_address }}, affirm that on {{ dispatch_date }},
I dispatched the following document:

- Title: {{ document_title }}
- Recipient: {{ creditor_name }}
- Address: {{ creditor_address }}
- Method: {{ dispatch_method }}

This affidavit is executed on {{ today }} in good faith and lawful authorship.

Signed,
{{ user_name }}
